.slider .track{
    -fx-pref-width: 10px;
    -fx-background-color: #23272A;
}

.slider .thumb{
    -fx-background-color: #1db954;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}


.button{
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
    -fx-border-color: #57f287;
    -fx-border-radius: 25px;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #57f287;
}

.choice-box{
    -fx-pref-width: 88px;
    -fx-background-color: transparent;
    -fx-border-color: #57f287;
    -fx-mark-color: transparent;
}

.choice-box .context-menu{
    -fx-pref-width: 88px;
    -fx-background-color: transparent;
    -fx-border-color: #57f287;
}

.choice-box > .label { -fx-text-fill: white; }

.choice-box .menu-item > .label{
    -fx-text-fill: white;
}

.choice-box .menu-item:focused{
    -fx-mark-color: #57f287;
    -fx-background-color: #57f287;
}

.list-view{
    -fx-background-color: transparent;
    -fx-border-color: #57f287;
    -fx-border-radius: 5px;
}

.list-cell:filled:selected {
    -fx-border-color: #57f287;
    -fx-border-radius: 5px;
    -fx-background-color: #57f287;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
}

.list-cell:filled {
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.list-cell:even, .list-cell:odd {
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
}

.scroll-bar .thumb{
    -fx-background-color: #57f287;
}


